/*#4dd78d
  #43325a
  #986f9c
      border: solid black 1px;*/
  
*{
    box-sizing: border-box;  
    margin: 0px;
    padding: 0px;

}
html{
    background-color: #986f9c;
}
body{
margin:auto;
width: 90%;
border: 10px #43325a solid;
background-color: white;

}
li{
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100px;
    display: inline-block;
    float: none;
   text-align: center;
}
#galeria{
    text-align: center;
}
.galeria{
    border: 10px solid #986f9c;
    padding: 0px;
    margin: 0px;
    border-radius: 100px;
    text-align: center;
}
.galeria:hover{
    border:15px solid #4dd78d;
}
#nav{
background-color:#43325a;
 padding: 0px;
 margin: 0px;
 text-align: center;
}
#banner{
    width: 45%;
    text-align: center;
}
a{
 color: white;
 font-size: 110%;
 font-family: sans-serif;
 text-align: center;
}
a:hover{
    color:#4dd78d;
}
#logo{
        width: 8%;
        position: relative;
        left: 4%;
}
#titulo{
    border-radius: 10px;
    background-color: #43325a;
    color: white;
    width: 45%;
    margin:auto;
    text-align: center;
    font-size: 200%;
}