/*#4dd78d
  #43325a
  #986f9c
      border: solid black 1px;*/
  
*{
    box-sizing: border-box;  
    margin: 0px;
    padding: 0px;
}
html{
    background-color: #4dd78d;
}
body{
    background-color: #43325a;
    width: 90%;
    position: relative;
    margin: auto;
    border: solid 0.5rem #43325a;
}
header{
    background-color: #43325a;
}
#logo{
    width: 4%;
}
aside{
    background-color: #986f9c;
    padding: 1%;
    text-align: center;
    align-items: center;
    width: 20%;
    display: inline-block;
    border-radius: 10px;
}
.galeria{
width: 95%;
border: #43325a solid 5px;
border-radius: 25%;
}
.galeria:hover{
    border: #4dd78d solid 10px;
}
#main-galery{
    background-color: #43325a;
    width: 80%;
    position: absolute;
    display: inline-block;
    border: solid #43325a 10px;
    border-radius: 20px;

}
#main-galery-img{
    width: 100%;
    position: relative;
    border-radius: 10px;
}